
h1 { font-family: 'Roboto', Arial, sans-serif; font-weight: 400; }
h2 { font-family: 'Roboto', sans-serif; font-weight: 200; }
h3 { font-family: 'Roboto', sans-serif; font-weight: 100; }
p { font-family: 'Roboto', sans-serif; }
a { font-family: 'Roboto', sans-serif; }
table { align: center;}
table {
    border-collapse: collapse;
}
td, tr {font-family: 'Roboto', sans-serif; border: 1px solid black;}